//Formatação da barra de pesquisa e demais cabeçalhos

.toolbar-background-md {
    background: linear-gradient(to bottom right, #004547, #00a7ad);
}

.bar-button-default-md {
    color: #fff;
}

.searchbar-md .searchbar-input {
    background: linear-gradient(#004547, #00a7ad);
}

.toolbar-title-md {
    text-align:left;
    color: #fff;
}

