page-receita {
    div{
        white-space: normal;
        text-align: left;
    }

    p{
        white-space: normal;
        text-align: left;
    }
    
    img{
        width: 100%;
        height: 270px;
        object-fit: cover;
    }

    ion-icon{
        margin-right: 5px;
    }
    
}
